[Service]
Environment="OKX_CHAINOS_API_KEY=<YOUR_OKX_API_KEY>"
Environment="OKX_CHAINOS_API_SECRET=<YOUR_OKX_API_SECRET>"
Environment="OKX_CHAINOS_API_PASSPHRASE=<YOUR_OKX_API_PASSPHRASE>"
Environment="OKX_SNAPSHOT_INTERVAL_MS=300000"
